.sidenav.nav {
	top: 3rem;
	max-height: 85vh;
	overflow: visible;
	& > div {
		overflow: hidden;
		max-height: 85vh;
		&:hover, &:focus, &:focus-within {
			overflow-y: auto;
		}
	}
	.sticky-top {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}
	.nav-pills {
		width: 100%;
		.nav-item {
			margin-right: .5rem;
		}
	}
}

.nav-pills .nav-link {
	display: inline-block;
	line-height: 1.25rem;
	font-size: 1rem;
	border-radius: 1rem !important;
	padding: .3rem .75rem .25rem .75rem;
	color: $primary-accent-color;
	font-weight: 400;
	margin-bottom: .25rem;
	position: relative;
	&:focus {
		text-decoration: none;
		outline: none;
		background: #f4fbff;
		box-shadow: inset 0 0 0 1.75px #daefff;
		color: $link-blue;
	}
	&:hover {
		color: $link-blue;
	}
	&.active {
		color: $link-blue;
		background: #d8eeff;
		font-weight: 700;
		justify-content: space-between;
		display: flex;
		
		&:after {
			content: "\f054";
			font-family: fontawesome;
			display: flex;
			font-size: .75rem;
			vertical-align: top;
			margin-left: .75rem;
		}
	}
}